.git-credentials

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.idea
*.iml

### Gradle
.gradle/
build/

### Android
local.properties

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store